$button__enable__color: #5FD6AB;
$button__cancel__color: #FEB928;
$button__primary__color: #53ab7a;
$footer__color: rgba(11, 66, 8);
$input__color: #ffffff;
$default_blue: #0073ea;
$dark_color_theme: #30324e;

html,
body {

	height: 100%;
	-webkit-font-smoothing: antialiased;
	background-color: #eceff8;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
}

h1{
	font-size: 1.5em;
}

#root {
	background-color: #eceff8;
	height: 100%;
	width: 100%;
	min-height: 650px;
	color: black;
	// font-family: "Roboto";
  // font-family: "Roboto", sans-serif;
  // font-weight: 100;
  // font-style: normal;
}

.background{
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: inherit;
}


::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(80, 175, 255, 1); 
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
}

::-webkit-scrollbar-horizontal {
  height: 10px; 
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #0077cc; 
}

::-webkit-scrollbar-track:horizontal {
  background-color: #f0f0f0; 
}